.Uber {
    border: none;
    background-color: black;
    color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer; 
}
.Uber:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.Amazon {
    border: none;
    background-color: rgb(255, 216, 20);
    border-radius: 30px;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.Amazon:hover {
    background-color: rgb(255, 206, 20);
}

.GitHub {
    border: none;
    background-color: rgb(46, 164, 79);
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.GitHub:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.Bootstrap_1 {
    border: none;
    background-color: rgb(121, 82, 179);
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.Bootstrap_1:hover {
    background-color: rgb(111, 92, 169);
}
.Bootstrap_2 {
    border: 1px solid;
    background-color: white;
    color: rgb(108, 117, 125);
    margin-left: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.Bootstrap_2:hover {
    color: white;
    background-color: rgb(108, 117, 125);
}

.Linkedin_1{
    border: none;
    background-color: rgb(10, 102, 194);
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.Linkedin_1:hover {
    background-color: rgb(10, 82, 194);
}
.Linkedin_2 {
    border: 1px solid rgb(10, 102, 194);
    background-color: white;
    color: rgb(10, 102, 194);
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 50px;
    cursor: pointer;
}
.Linkedin_2:hover {
    border-width: 3px;
    background-color: rgb(224, 228, 233);
}

#Uber_text {
    float: left;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
#Amazon_text {
    float: left;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
#GitHub_text {
    float: left;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
#Bootstrap_text {
    float: left;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
#Linkedin_text {
    float: left;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}